{% extends "polls/base.html" %}
{% block title %}User Login{% endblock %}
{% block head %}{% endblock %}
{% block content %}
  {% if form.errors %}
    <div class="alert alert-danger" role="alert">
      <p id="alert">Your username and password didn't match.
      Please try again.</p>
    </div>
  {% endif %}
  <div class='container'>
    <form class="form-signin" method="post" action="{% url 'polls:login' %}">
      <h2 class="form-signin-heading">Please sign in</h2>
      {% csrf_token %}
      <label for="id_username" class="sr-only">Username</label>
      <input type="text" id="id_username" class="form-control"
             placeholder="Username" name='username' maxlength='30' required autofocus>
      <label for="id_password" class="sr-only">Password</label>
      <input type="password" id="id_password" class="form-control"
             placeholder="Password" name='password' maxlength='30' required>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      <input type="hidden" name="next" value="{% url 'index' %}" />
      <p><a href="{% url "polls:password_reset" %}">Forgotten your password?</a></p>
    </form>
  </div>
{% endblock %}
