{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PollsPortal |
      {% block title %}{% endblock %}</title>
      <!-- bootstrap core css used -->
      <link rel="stylesheet" type="text/css"
        href="{% static 'polls/bootstrap/dist/css/bootstrap.min.css' %}" media="screen" />

        <!-- Custom styles for this template -->
      <link href="{% static 'polls/style.css' %}" rel="stylesheet" type="text/css">
      <!-- custom fonts using awesome font -->
      <link href="{% static 'polls/bootstrap/dist/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
      <script src="{% static "polls/jquery.js" %}"></script>
      {% block external %}{% endblock %}
  </head>
  <body>
    <div id="wrapper">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">PollsPortal<br></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav top-nav navbar-nav" role="tablist">
            <li><a href="/"><i class="fa fa-home fa-2x"></i></a></li>
            <li class="visible-xs visible-sm"><a href="/">Home</a></li>
            {% if user.is_authenticated %}
              <li><a href="{% url "polls:popular" %}">popular</a></li>
              <li>
                  <a href="{% url 'polls:save_page' user.username %}">create poll</a>
              </li>
              <li class="dropdown" role="navigation">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                  aria-haspopup="true" aria-expanded="false">categories<b class="caret"></b></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="{% url "polls:categories" 'Automobile' %}">Cars &amp; automobile</a></li>
                  <li><a href="{% url "polls:categories" 'Computers' %}">Computers &amp; Internet</a></li>
                  <li><a href="{% url "polls:categories" 'Education' %}">Education</a></li>
                  <li><a href="{% url "polls:categories" 'Entertainment' %}">Entertainment</a></li>
                  <li><a href="{% url "polls:categories" 'Games' %}">Games</a></li>
                  <li><a href="{% url "polls:categories" 'General' %}">General</a></li>
                  <li><a href="{% url "polls:categories" 'Health' %}">Health &amp; Fitness</a></li>
                  <li><a href="{% url "polls:categories" 'Business' %}">Money &amp; Business</a></li>
                  <li><a href="{% url "polls:categories" 'Nutrition' %}">Nutrition/Diets</a></li>
                  <li><a href="{% url "polls:categories" 'Politics' %}">Government &amp; Politics</a></li>
                  <li><a href="{% url "polls:categories" 'Relationships' %}">Family &amp; Relationships</a></li>
                  <li><a href="{% url "polls:categories" 'Religion' %}">Religion</a></li>
                  <li><a href="{% url "polls:categories" 'Social' %}">Social</a></li>
                  <li><a href="{% url "polls:categories" 'Sports' %}">Sports</a></li>
                  <li role="separator" class="divider"></li>
                </ul>
              </li>
              <li class="dropdown" role="navigation">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                  aria-haspopup="true" aria-expanded="false">special polls<b class="caret"></b></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="{% url "polls:gender_poll" 'male' %}">Male only</a></li>
                  <li><a href="{% url "polls:gender_poll" 'female' %}">Female only</a></li>
                </ul>
              </li>
              <li><a href="{% url "polls:friend_invite" %}">invite a friend</a></li>
              <li>
                <a href="{% url "polls:feedback" %}"><i class="fa fa-fw fa-envelope"></i> Feedback</a>
              </li>
            {% endif %}
          </ul>
          {% if user.is_authenticated %}
            <ul class="nav top-nav navbar-nav navbar-right">
              <li><a href="#" />logged in as {{user.username | escape}}</a></li>
              <li><a href="{% url 'polls:logout' %}"><i class="fa fa-sign-out"></i> log out</a></li>
              <li class="dropdown" role="navigation">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                  aria-haspopup="true" aria-expanded="false"><i class="fa fa-fw fa-gear"></i> <b class="caret"></b></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="{% url "polls:edit_profile" %}">Update profile</a></li>
                  <li><a href="{% url "polls:password_change" %}">change password</a></li>
                  <li role="separator" class="divider"></li>
                  <li class="dropdown-header"></li>
                  <li><a href="{% url "polls:my_settings" %}">Settings</a></li>
                  {% if user.is_staff %}
                    <li><a href="/admin/login">Admin portal</a></li>
                  {% endif %}
                </ul>
              </li>
            </ul>

          {% endif %}
          {% if not user.is_authenticated %}
            <ul class="nav top-nav navbar-nav navbar-right" role="navigation">
              <li>
                <form class="navbar-form navbar-right" role="search"
                    method="get" action="{% url 'polls:search' %}">
                  {% csrf_token %}
                  <div class="form-group">
                    <input type="text" placeholder="search for people, polls or category"
                      id="id_query" name='query' size='32' class="form-control">
                  </div>
                  <button type="submit" class="btn btn-sm btn-success" value="search">
                    <i class="fa fa-search"></i></button>
                </form>
                <form class="navbar-form navbar-right"
                  method="post" action="{% url 'polls:login' %}">
                  {% csrf_token %}
                  <div class="form-group">
                    <input type="text" id="id_username" placeholder="username"
                      name='username' maxlength='30' class="form-control" required autofocus>
                  </div>
                  <div class="form-group">
                    <input type="password" id="id_password" placeholder="Password" class="form-control"
                      name='password' maxlength='30' required>
                  </div>
                  <input type="hidden" name="next" value="{% url 'index' %}" />
                  <button type="submit" class="btn btn-sm btn-success">Sign in</button>
                </form>
              </li>
            </ul>
          {% endif %}
        </div><!--/ .nav-collapse -->
    </nav>

    <div id="page-wrapper">
      <div class="container-fluid">
        <h1>{% block head %}{% endblock %}</h1>
        {% if messages %}
          <div class="alert alert-info" role='alert'>
            <ul class="messages">
              {% for message in messages %}
                <li>{{ message }}</li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}

        {% block content %}{% endblock %}

      </div><!-- /.container -->
    </div>
  </div>
  <div class="clearfix visible-xs"></div>
  <footer class="footer">
    <div class="container">
      <p class="text-muted">&#169; 2016 Dayma. All rights reserved.</p>
    </div>
  </footer>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{% static "polls/bootstrap/assets/js/vendor/jquery.min.js" %}><\/script>')</script>
    <script src = "{% static 'polls/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src = "{% static 'polls/bootstrap/assets/js/docs.min.js' %}"></script>
  </body>
</html>
