{% extends 'polls/base.html' %}
{% load extra_tags %}
{% block title %} {{ head_title }} {% endblock %}
{% block head %}
{% endblock %}
{% block content %}
<div class="container">

  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-md-8 col-lg-8">
        <div class="page-header">
          <h2>POLL DETAILS | <small>{{question.category}}</small></h2>
        </div>
      </div><!-- col-sm-8 -->
      <div class="details col-sm-4 col-md-4 col-lg-4">
        <form class="navbar-form navbar-right" role="search"
            method="get" action="{% url 'polls:search' %}">
          {% csrf_token %}
          <div class="form-group">
            <input type="text" placeholder="search for people, polls or category"
              width="50px" id="id_query" name='query' size='32' class="form-control">
          </div>
          <button type="submit" class="btn btn-sm btn-success" value="search">
            <i class="fa fa-search fa-2x"></i></button>
        </form>
      </div><!-- col-sm-4 -->
    </div>
  </div><!-- container -->
  {% if not user.is_authenticated %}
    <div class="alert alert-warning" role="alert">
      Note: You need to Login (above) or <a href="{% url "polls:register" %}">
        sign up</a> before you can vote on polls
    </div>
  {% endif %}

  <div class="row">
    <div class="details col-sm-5">
      <div class="panel panel-details">
        <div class="panel-heading">
          <h4>Poll {{question.id}}</h4>
        </div>
        <div class="panel-body">
          <p><strong>more info:</strong></p> <p class="new-paragraph">{{question.poll_info}}</p>
          <p><strong>created by :</strong>  <a href="{% url 'polls:user_page' question.user.username %}">
                            {{question.user.username}}</a></p>
          <p><strong>category   :</strong> <a href="{% url "polls:categories" question.category %}">
                            {{question.category}}</a></p>
          <p><strong>Published  :</strong>  {{question.publish}}</p>
          <p><strong>Total votes:</strong>  {{question.total_votes}}</p>
        </div><!--panel-body -->
        <div class="panel-foot">
          <div class="row">
            {% if prev_poll %}
            <div class="foot-nav col-sm-4 col-md-4 col-lg-4">
              <a href="/polls/{{prev_question.id}}/">
                <div class="panel-footer">
                  <span class="pull-left"><i class="glyphicon glyphicon-backward"></i></span>
                  <span class="pull-right">previous</span>
                  <div class="clearfix"></div>
                </div>
              </a>
            </div><!-- col-sm-4 -->
            {% endif %}
            {% if next_poll %}
            <div class="foot-nav col-sm-4 col-md-4 col-lg-4">
              <a href="/polls/{{next_question.id}}/">
                <div class="panel-footer">
                  <span class="pull-right"><i class="glyphicon glyphicon-forward"></i></span>
                  <span class="pull-left">next</span>
                  <div class="clearfix"></div>
                </div>
              </a>
            </div><!-- col-sm-4 -->
            {% endif %}
            <div class="foot-nav col-sm-4 col-md-4 col-lg-4">
              <a href="{% url "polls:results" question.id %}">
                <div class="panel-footer">
                  View result
                </div>
              </a>
            </div><!-- col-sm-4 -->
          </div><!-- row-->
        </div><!-- panel-foot-->
      </div><!--panel-->
    </div><!--col-sm-5 -->
    <div class="col-sm-7">
      <div class="page-header">
        <h3>{{question.question_text | capitalize }}</h3>
      </div>
      {% if error_message %}
        <div class="alert alert-danger" role="alert">
          <p><strong>{{error_message}}</strong></p>
        </div>
      {% endif %}
      <br><br>
      <form action='{% url 'polls:vote' question.id %}' method='post'>
        {% csrf_token %}
        {% for choice in question.choice_set.all %}
          <input type ='radio' name='choice' id='choice{{ forloop.counter }}'
              value="{{ choice.id}}" />
          <label for="choice{{ forloop.counter }}">{{ choice.choice_text | capitalize }}</label>
          <br />
        {% endfor %}
        <input class="vote" type="submit" value="Vote" />
      </form>
      <br/>
    </div><!--col-sm-7 -->
  </div><!-- row -->
</div><!--container-->
{% endblock %}
