{% extends 'polls/base.html' %}
{% block title %}Features{% endblock %}
{% block head %}{% endblock %}
{% block content %}
  <div class="container">
    <div class="col-sm-6 features">
      <ul class="list-group">
        <li class="list-group-item active">
          <h4 class="list-group-item-heading">Features</h4>
        </li>
        <li class="list-group-item">
          <h4>Create whatever* poll you'd like</h4>
        </li>
        <li class="list-group-item">
          <h4>Vote on polls you created or any other</h4>
        </li>
        <li class="list-group-item">
          <h4>Follow people to see polls they created,voted or commented on</h4>
        </li>
        <li class="list-group-item">
          <h4>Invite friends to vote on polls</h4>
        </li>
        <li class="list-group-item">
          <h4>View and/or save results of polls</h4>
        </li>
        <li class="list-group-item">
          <h4>You can't exhaust PollsPortal flexibility</h4>
          <p> Create polls and have fun!</p>
        </li>
      </ul>
    </div><!-- /.col-sm-4 -->
  </div><!-- container-->
{% endblock %}
