{% extends 'polls/base.html' %}
{% block title %}Features{% endblock %}
{% block head %}{% endblock %}
{% block content %}
  <div class="features">
    <div class="col-sm-4">
      <div class="list-group">
        <ul>
          <li class="list-group-item active">
            <h4 class="list-group-item-heading">Features</h4>
          </li><br>
          <li>
            <h4>Create whatever* poll you'd like</h4>
          </li>
          <li>
            <h4>Vote on polls you created or any other</h4>
          </li>
          <li>
            <h4>Follow people to see polls they created,voted or commented on</h4>
          </li>
          <li>
            <h4>Invite friends to vote on polls</h4>
          </li>
          <li>
            <h4>View and/or save results of polls</h4>
          </li>
          <li>
            <h4>You can't exhaust PollsPortal flexibility</h2>
            <p> Create polls and have fun!</p>
          </li>
        </ul>
      </div>
    </div><!-- /.col-sm-4 -->
  </div>
{% endblock %}
