{% extends "polls/dashboard_base.html" %}
{% block title %}{{ username }} Follows{% endblock %}
{% block head %}{% endblock %}
{% block content %}
  {% if following %}
  <h2>{{username}} follows</h2>
  <div class="col-sm-4 ">
    <ul class="list-group">
      {% for friend in following %}
        <li class="list-group-item"><a href="{% url "polls:user_page" friend.username %}">
          {{friend.username}}</a></li>
      {% endfor %}
    </ul>
  </div>
  {% else %}
    <p>{{username}} follows no one</p>
  {% endif %}

  {% if followers %}
  <h2>Followers</h2>
  <div class="col-sm-4">
    <ul class="list-group">
      {% for friend in followers %}
        <li class="list-group-item"><a href="{% url "polls:user_page" friend.username %}">
          {{friend.username}}</a></li>
      {% endfor %}
    </ul>
  </div>
  {% else %}
    <p>No followers found</p>
  {% endif %}

  <h2>Followers/following related polls</h2>
  {% include 'polls/questions_list.html' %}
{% endblock %}
