<div class="row">
  <div class="my-follow">
    <div class="col-md-5">
      <div class="panel panel-default">
        <div class="panel-heading">
          {% if following %}
            <h4>{{username}} follows</h4>
        </div><!-- panel-heading -->
      <div class="panel-body">
        <ul class="list-group">
          {% for friend in following %}
            <li class="list-group-item"><a href="{% url "polls:user_page" friend.username %}">
              {{friend.username}}</a></li>
          {% endfor %}
        </ul>
      {% else %}
        <p>{{username}} follows no one</p>
      {% endif %}
      </div>
    </div><!-- panel-default-->
    </div><!-- col-lg-5 -->
    <div class="col-md-5">
      <div class="panel panel-default">
        <div class="panel-heading">
          {% if followers %}
            <h4>Followers</h4>
        </div><!-- panel-heading-->
        <div class="panel-body">
          <ul class="list-group">
            {% for friend in followers %}
              <li class="list-group-item"><a href="{% url "polls:user_page" friend.username %}">
                {{friend.username}}</a></li>
            {% endfor %}
          </ul>
          {% else %}
            <p>No followers found</p>
          {% endif %}
        </div>
      </div><!-- panel-default -->
    </div><!-- col-lg-5"-->
  </div><!-- my-follow -->
</div><!-- row -->
