{% extends "polls/base.html" %}
{% block title %} {{ head_title }} {% endblock %}
{% block head %}
{% endblock %}
{% block content %}
<br>
<div class="inner cover">
  <h1 class="cover-heading">Share your visual thoughts</h1>
  <p class="lead">How nice can you rate graphics? Test the popularity of your visual design.<br> Create image polls to share your thoughts.
    <br>PollsPortal, your online hub where you create, vote, comment and share opinions
    with friends.</p>
  <p class="lead">
    <a href="#" class="btn btn-lg btn-default">coming soon</a>
  </p>
</div>
{% endblock %}
