{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>PollsPortal | Image Poll
      {% block title %}{% endblock %}</title>
      <!-- bootstrap core css used -->
      <link rel="stylesheet" type="text/css"
        href="{% static 'polls/bootstrap/dist/css/bootstrap.min.css' %}" media="screen" />

        <!-- Custom styles for this template -->
      <link href="{% static 'polls/cover_style.css' %}" rel="stylesheet" type="text/css">
    <script>
    </script>
    {% block external %}{% endblock %}
  </head>
  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">PollsPortal</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="{% url "index" %}">Home</a></li>
                  <li><a href="{% url "polls:features" %}">Features</a></li>
                  <li><a href="#">Contact</a></li>
                  <li><small>Already a member?</small></li>
                  <li><a href="{% url "polls:login" %}">Log in</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">Share your visual thoughts</h1>
            <p class="lead">How nice can you rate graphics? Test the popularity of your visual design.<br> Create image polls to share your thoughts.
              <br>PollsPortal, your online hub where you create, vote, comment and share opinions
              with friends.</p>
            <p class="lead">
              <a href="#" class="btn btn-lg btn-default">coming soon</a>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p> &#169; 2015 Design and maintain by Dayma. All rights reserved.</p>
            </div>
          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static "polls/jquery.js" %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{% static "polls/bootstrap/assets/js/vendor/jquery.min.js" %}><\/script>')</script>
    <script src = "{% static 'polls/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src = "{% static 'polls/bootstrap/assets/js/docs.min.js' %}"></script>
  </body>
</html>
