{% extends "polls/base.html" %}
{% load staticfiles %}
{% block title %} {{ head_title }} {% endblock %}
{% block head %}
{% endblock %}
{% block external %}
  <script type="text/javascript" src="{% static "polls/indexpage.js" %}"></script>
  <script type="text/javascript" src="{% static "polls/search.js" %}"></script>

{% endblock %}
{% block content %}
<div class="row">
  <div class="col-lg-4">
    <div class="row">
      <form id="index-search" class="form-inline" role="search"
          method="get" action="{% url 'polls:search' %}">
        {% csrf_token %}
        <div class="form-group">
          <input type="text" placeholder="search for people, polls or category"
            id="id_query" name='query' size='32' class="form-control">
        </div>
        <button type="submit" class="btn btn-sm btn-success" value="search">
          <i class="fa fa-search"></i></button>
      </form>
      <div class="search-result">

      </div><!-- search-result -->
    </div><!-- row -->
    <div class="row">
      <div class="recent-polls">

      </div><!-- recent-polls-->
    </div><!-- row -->

  </div><!-- col-md-4 -->
  <div class="col-lg-5">
    <div id="action-list" class="panel panel-index">
      <div class="panel-heading">
        <h3><i class="fa fa-newspaper-o"></i> What's happening</h3>
      </div>
      <div id="action-list" class="panel-body">
        {% for action in actions %}
          {% include "actions/action/detail.html" %}
        {% endfor %}
      </div>
    </div><!--id action-list -->
  </div><!--col-md-5-->
  <div class="col-lg-3">
    <div class="row">
      <a href="{% url "polls:category_graph" %}">
        <img src="{% url "polls:category_graph" %}" class="img-responsive" alt="Responsive image">
      </a>
    </div><!--row -->

    <div class="row">
      <h4>Top 10 polls</h4>
      <a href="{% url "index_graph" %}">
        <img src="{% url "index_graph" %}" class="img-responsive" alt="Responsive image">
      </a>
    </div><!-- row -->
  </div><!--col-md-3-->

</div><!-- 1st containing row -->

{% endblock %}
