{% extends "polls/dashboard_base.html" %}
{% block title %} {{ head_title }} {% endblock %}
{% block head %}
{% endblock %}
{% block content %}
  <div class="row row-offcanvas row-offcanvas-right">
      <p class="pull-right visible-xs">
        <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
      </p>
      <div class='jumbotron'>
        {% if user.username %}
          <h1>Welcome {{ user.first_name }} !</h1><br/>
          <p>Here you can create new poll(s) or vote on
           polls to voice your views and opinions</p>
          <br />
        {% else %}
          <h1>{{page_title}}</h1><br/>
          <h3>Share your views and opinions.</h3>
          <p>Test the popularity of your thoughts</p>
          <p><a class="btn btn-lg btn-success" href="{% url 'polls:register' %}" role="button">
            Sign up today</a></p>
        {% endif %}
      </div>
    <div class="row">
      <div class="top-polls col-sm-6">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h5>Top 10 polls</h5>
          </div>
          <img src="{% url "index_graph" %}"/>
        </div>
      </div><!--col-sm-6 -->
      <div class="col-sm-6">
        <div id="action-list" class="panel panel-primary">
          <div class="panel-heading">
            <h3>What's happening</h3>
          </div>
          <div class="panel-body">
            {% for action in actions %}
              {% include "actions/action/detail.html" %}
            {% endfor %}
            <p><a class="btn btn-default" href="{% url "polls:action_feeds" %}">more feeds</a></p>
          </div>
        </div>
        <div class="category-graph">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h4>poll categories</h4>
            </div>
            <img src="{% url "polls:category_graph" %}"/>
          </div>
        </div><!--category-graph-->
      </div><!--col-sm-6 -->
      <div id="recent-polls" class="col-sm-6">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h4>Recent polls</h4>
          </div>
          <div class="panel-body">
            {% include "polls/questions_list.html" %}
          </div>
        </div><!--panel panel-primary -->
      </div><!--col-sm-6 second-->
    </div><!--row -->
  </div><!--/row-->
{% endblock %}
