{% load extra_tags %}
{% if users %}
<h3>People results</h3>
  <ul class='users'>
    {% for person in users %}
      <li><a href="{% url "polls:user_page" person.username %}">
        {{person.get_full_name}}</a><br>
        joined: {{person.date_joined}}
      </li>
    {% endfor %}
  </ul>
{% endif %}
{% if questions %}
<h4>Polls results</h4>
  <ul class='questions'>

    {% for question in questions %}
      <div class="search-list">
        <li>
          <a href="{% url "polls:detail" question.id %}">
            {{question.question_text | capitalize }}</a>
            <br/>
          {% if show_category %}
            category:
                <a href="{% url "polls:categories" question.category %}">
                  {{question.category}}</a>
          {% endif %}
          {% if total_votes %}
            <span class='vote-count'>| Total Votes:
                {{question.total_votes}}</span>
            <br/>
          {% endif %}
          {% if show_user %}
            <p/>Created by:
            <a href="{% url 'polls:user_page' question.user.username %}">
              {{question.user.username}}</a></p>
          {% endif %}
          {% if show_publish %}
            <p>Date created: {{question.created}}</p>
          {% endif %}
          <p><a class="btn btn-default" href="{% url "polls:results" question.id %}" role="button">
            View result &raquo;</a></p>
        </li><br>
      </div>
    {% endfor %}
  </ul>

{% else %}
  <p>No feature polls found</p>
{% endif %}
