{% extends 'polls/base.html' %}
{% block title %}{{username}}{% endblock %}
{% block content %}
<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            People | <small>{{username}}</small>
            {% if request.user.username == username %}
              <p></p>
            {% else %}
              {% if is_friend %}
                 <a class="btn btn-sm btn-success"
                href="/polls/friend/follow/?username={{ username }}">unfollow</a>
              {% else %}
                <a class="btn btn-sm btn-success"
                href="/polls/friend/follow/?username={{ username }}">
                <i class="glyphicon glyphicon-user"></i><i class="glyphicon glyphicon-plus"></i> Follow {{ username }}</a>
              {% endif %}
            {% endif %}
        </h1>
    </div>
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-12">
        <div class="alert alert-info alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <i class="fa fa-info-circle"></i>  <strong>Like Images?</strong> Try out the <a href="{% url "polls:image_poll" %}" class="alert-link">image polls</a> for additional features!
        </div>
    </div>
</div>
<!-- /.row -->

<div class="row">
<div class="col-lg-2 col-md-6">
  <div class="panel panel-primary">
      <div class="panel-heading">
          <div class="row">
              <div class="col-xs-3">
                  <i class=""></i>
              </div>
              <div class="col-xs-9 text-right">
                  <div class="huge">{{recent.count}}</div>
                  <div>Recent Polls!</div>
              </div>
          </div>
      </div>
      <a href="{% url "polls:recent" %}">
          <div class="panel-footer">
              <span class="pull-left">View Details</span>
              <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
              <div class="clearfix"></div>
          </div>
      </a>
  </div>
</div>
<div class="col-lg-2 col-md-6">
    <div class="panel panel-green">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="glyphicon glyphicon-list fa-2x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div class="huge">{{questions.count}}</div>
                    <div>{{username}} Polls!</div>
                </div>
            </div>
        </div>

            <div class="panel-footer">
                <span class="pull-left">showing</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>

    </div>
</div>
<div class="col-lg-2 col-md-6">
    <div class="panel panel-votes">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-thumbs-o-up fa-2x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div class="huge">{{polls_voted.count}}</div>
                    <div>{{username}} votes!</div>
                </div>
            </div>
        </div>
        <a href="{% url "polls:voted_polls" username %}">
            <div class="panel-footer">
                <span class="pull-left">View Details</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
    </div>
  </div>
  <div class="col-lg-2 col-md-6">
      <div class="panel panel-comments">
          <div class="panel-heading">
              <div class="row">
                  <div class="col-xs-3">
                      <i class="fa fa-comments fa-2x"></i>
                  </div>
                  <div class="col-xs-9 text-right">
                      <div class="huge">{{polls_commented.count}}</div>
                      <div>{{username}} comments!</div>
                  </div>
              </div>
          </div>
          <a href="{% url "polls:commented_polls" username %}">
              <div class="panel-footer">
                  <span class="pull-left">View Details</span>
                  <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                  <div class="clearfix"></div>
              </div>
          </a>
      </div>
  </div>
  <div class="col-lg-2 col-md-6">
      <div class="panel panel-yellow">
          <div class="panel-heading">
              <div class="row">
                  <div class="col-xs-3">
                      <i class=""></i>
                  </div>
                  <div class="col-xs-9 text-right">
                      <div class="huge">{{person.followers.count}}</div>
                      <div>follower{{ person.followers.count|pluralize}}</div>
                  </div>
              </div>
          </div>
          <a href="{% url "polls:friends" person.username %}">
              <div class="panel-footer">
                  <span class="pull-left">View Details</span>
                  <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                  <div class="clearfix"></div>
              </div>
          </a>
      </div>
  </div>
  <div class="col-lg-2 col-md-6">
      <div class="panel panel-red">
          <div class="panel-heading">
              <div class="row">
                  <div class="col-xs-3">
                      <i class=""></i>
                  </div>
                  <div class="col-xs-9 text-right">
                      <div class="huge">{{person.following.count}}</div>
                      <div>following</div>
                  </div>
              </div>
          </div>
          <a href="{% url "polls:friends" person.username %}">
              <div class="panel-footer">
                  <span class="pull-left">View Details</span>
                  <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                  <div class="clearfix"></div>
              </div>
          </a>
      </div>
  </div>
</div>
<!-- /.row -->

{% if user.is_authenticated %}
  {% if request.user.username == username %}
    <a href="{% url "polls:friends" username %}">Your following list </a>
  {% else %}
    {% if is_friend %}
      <a href="/polls/friend/follow/?username={{ username }}">Unfollow {{username}}</a>
    {% else %}
      <a href="/polls/friend/follow/?username={{ username }}">
           Follow {{ username }}</a>
    {% endif %}
      -- <a href="{% url "polls:friends" username %}">
           {{ username }} Following</a>
  {% endif %}
{% endif %}
<br/>
<div class='user-page-list'>
  <h3>{{username}} polls</h3>
  {% include "polls/questions_list.html" %}
</div>
{% endblock %}
