{% extends 'polls/base.html' %}
{% load staticfiles %}
{% block title %}{{username}}{% endblock %}
{% block external %}
  <script type="text/javascript" src="{% static "polls/userpage.js" %}"></script>
{% endblock %}
{% block content %}
<!-- Page Heading -->
<div class="container">
  <div class="container">
    <div class="row">
      <div id="identify-user" class="col-md-4">
        <h1>
            People | <small class="username">{{username | escape}}</small>
            {% if request.user.username == username %}
              <p></p>
            {% else %}
              {% if is_friend %}
                 <a class="btn btn-sm btn-success"
                href="/polls/friend/follow/?username={{ username | urlencode}}">unfollow</a>
              {% else %}
                <a class="btn btn-sm btn-success"
                href="/polls/friend/follow/?username={{ username | urlencode}}">
                <i class="glyphicon glyphicon-user"></i><i class="glyphicon glyphicon-plus"></i> Follow {{ username }}</a>
              {% endif %}
            {% endif %}
        </h1>
      </div><!-- col-sm-10 -->
      <div class="details col-md-8">
        <form class="search-page navbar-form navbar-right" role="search"
            method="get" action="{% url 'polls:search' %}">
          {% csrf_token %}
          <div class="form-group">
            <input type="text" placeholder="search for people, polls or category"
              width="50px" id="id_query" name='query' size='32' class="form-control">
          </div>
          <button type="submit" class="btn btn-sm btn-success" value="search">
            <i class="fa fa-search fa-2x"></i></button>
        </form>
      </div>
    </div><!-- row -->
    <div class="divide page-header"></div>
  </div><!-- container -->
  <div class="row">
      <div class="col-lg-12">
          <div class="alert alert-info alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              <i class="fa fa-info-circle"></i>  <strong>Like Images?</strong> Try out the <a href="{% url "polls:image_poll" %}" class="alert-link">image polls</a> for additional features!
          </div>
      </div>
  </div>
  <div class="clearfix"></div>

  <div class="row">
    <div class="details col-sm-4">
      <div class="panel panel-details">
        <div class="panel-heading">
          <h3>{{username | escape}}'s records</h3>
        </div>
        <div class="panel-body">

          <div id="quick-links">
            <div class="row">
              <div class="col-sm-9">
                <div class="panel-heading">
                  Most recent polls
                  <div class="pull-right col-sm-4">
                    <a class="recent-polls" href="{% url "polls:recent" %}">
                      <div class="panel panel-comments">
                        <div class="panel-heading">
                          {{recent.count}}
                        </div>
                      </div>
                    </a>
                  </div><!-- col-sm-4-->
                </div><!-- panel-heading -->
              </div><!-- col-sm-8-->
            </div><!-- row -->

            <div class="row">
              <div class="col-sm-9">
                <div class="panel-heading">
                  No of Polls
                  <div class="pull-right col-sm-4">
                    <a class="no-of-polls" href="{% url 'polls:user_page' username %}">
                      <div class="panel panel-green">
                        <div class="panel-heading">
                          {{questions.count}}
                        </div>
                      </div>
                    </a>
                  </div><!-- col-sm-4-->
                </div><!-- panel-heading -->
              </div><!-- col-sm-8-->
            </div><!-- row -->

            <div class="row">
              <div class="col-sm-9">
                <div class="panel-heading">
                  Followers
                  <div class="pull-right col-sm-4">
                    <a class="following" href="{% url "polls:friends" person.username %}">
                      <div class="panel panel-yellow">
                        <div class="panel-heading">
                          {{person.followers.count}}
                        </div>
                      </div>
                    </a>
                  </div><!-- col-sm-4-->
                </div><!-- panel-heading -->
              </div><!-- col-sm-8-->
            </div><!-- row -->

            <div class="row">
              <div class="col-sm-9">
                <div class="panel-heading">
                  Following
                  <div class="pull-right col-sm-4">
                    <a class="following" href="{% url "polls:friends" person.username %}">
                      <div class="panel panel-primary">
                        <div class="panel-heading">
                          {{person.following.count}}
                        </div>
                      </div>
                    </a>
                  </div><!-- col-sm-4-->
                </div><!-- panel-heading -->
              </div><!-- col-sm-8-->
            </div><!-- row -->

            <div class="row">
              <div class="col-sm-9">
                <div class="panel-heading">
                  Votes
                  <div class="pull-right col-sm-4">
                    <a class="votes" href="{% url "polls:voted_polls" username %}">
                      <div class="panel panel-votes">
                        <div class="panel-heading">
                          {{polls_voted.count}}
                        </div>
                      </div>
                    </a>
                  </div><!-- col-sm-4-->
                </div><!-- panel-heading -->
              </div><!-- col-sm-8-->
            </div><!-- row -->

            <div class="row">
              <div class="col-sm-9">
                <div class="panel-heading">
                  Comments
                  <div class="pull-right col-sm-4">
                    <a class="comments" href="{% url "polls:commented_polls" username %}">
                      <div class="panel panel-red">
                        <div class="panel-heading">
                          {{polls_commented.count}}
                        </div>
                      </div>
                    </a>
                  </div><!-- col-sm-4-->
                </div><!-- panel-heading -->
              </div><!-- col-sm-8-->
            </div><!-- row -->
          </div><!-- quick-links -->

        </div><!--panel-body -->
      </div><!--panel-->
    </div><!--col-sm-5 -->

    <div class="col-sm-8">
      <div class='user-page-list'>
        <div class="clearfix"></div>
        <div id="userpage-rightcol">
          <h2>{{username}}'s polls</h2>
          {% include "polls/questions_list.html" %}
        </div>
      </div>
    </div><!-- col-sm-8-->

  </div><!-- row -->

</div><!-- container -->
{% endblock %}
