{% with user=action.user profile=action.user.profile %}
<div class="action">
  <div class="info">
    <p>
      <span>{{ action.created|timesince }} ago</span>
      <br/>
      <a href="{{user.get_absolute_url}}">
        {{ user.username | escape}}</a>
      {{ action.verb }}
      {% if action.target %}
        {% with target=action.target %}
          <a href="{{ target.get_absolute_url }}">{{ target }}</a>
        {% endwith %}
      {% endif %}
    </p><br/>
  </div>
</div>

{% endwith %}
